#Navigation_Bar{
    background-color: navy;
    display: inline-block;
    padding: 10px;
}

.NavBarLink{
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 10px;
}

.NavBarLink:hover{
background-color: rgb(52, 52, 132);
}


#Body_Text{
    display: block;
    width: 600px;
}

#body{
    background-color: bisque;
}

.backToTop{
    color: black;
}

.Option_Box{
    margin-bottom: 50px;
}
